.search-box {
    position: relative;
    width: 200px;
}

.search-box input[type="text"] {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-box .fa-search {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #ccc;
    z-index: 1;
    cursor: pointer;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link .navbar-profile {
    background: #ffff;
    padding: 5px 10px;
    border-radius: 5px;
}
.absbtn{
    background-color: #ffff;
    padding: 10px 8px !important;
    border: 2px solid rgb(146, 144, 144);
    border-radius: 5px;
}
.absbtn:hover{
    background-color: #ffff;
    border: 2px solid rgb(146, 144, 144);

}
.title-flex-2{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.form-tab{
    display: flex;
    flex-wrap: nowrap;
    gap: calc(8px +(20 - 8)*((100vw - 320px) /(1920 - 320)));
    border: none;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 20px;
    border-bottom: 4px solid rgb(234, 232, 232);
    width: 100%;
    position: relative;
}
.form-tab::-webkit-scrollbar{
    height: 3px;
    border-radius: 10px !important;
    box-shadow: inset 0 0 5px grey;

      display: none;
  }
  /* This styles the scrollbar track */
  .form-tab::-webkit-scrollbar-track {
    background: #f1f1f1;
    box-shadow: inset 0 0 5px grey;
  border-radius: 10px !important;
  max-width: 20%;
  }
   /* This styles the scrollbar thumb (the part that you drag) */
   .form-tab::-webkit-scrollbar-thumb {
    background: orange;
    height:10px !important;
    width:3px !important;
    border-radius: 10px;
    max-width: 20%;
  }

  /* This styles the scrollbar thumb on hover */
  .form-tab::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 123, 0);
  }

.tab-list {
    display: inline-block;
    font-size: 14px;
    border: none;
    padding: 0px 10px;
}
.tab-button{
    border: none;
    background: #ffff;
    text-wrap: nowrap;
}
.tab-list .active{
   color: blue;
}
.line{
    position: absolute;
    top:40px;
    left: 65px;
    width: 90px;
    height: 4px;
    background-color: rgb(255, 123, 0);
   /* z-index: 9999; */
   transition: all .3s ease-in-out;
}
.tab-content-box{
    display: none;
    animation: moving  .5s ease;
}
@keyframes moving{
    from{
        transform: translateX(50px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}
.tab-content-container  .tab-content-box.active{
   display: block;
}
.form-btn-container{
    margin-top: 50px;
    margin-bottom: 30px;
   
}
.cancel-btn{
    padding: 10px 15px;
    border-radius: 4px;
    border: 2px solid #000;
    background-color: #ffff;
    transition: all .3s ease-in-out;
    height: 45px;
    
    text-wrap: nowrap;

}
.cancel-btn:hover{
    background-color: #000;
    color: #ffff;
    
}
.save-btn{
    margin: 0px 10px;
    padding: 10px 15px;
    border-radius: 4px;
    background-color: #000;
    color: #ffff;
    transition: all .3s ease-in-out;
    height: 45px;
    /* font-size: 14px; */
    /* width: 100%; */
    text-wrap: nowrap;



}
@media screen and(max-width:786px) {
    .save-btn{
        margin: 0px 70px;

    }

}
.save-btn:hover{
    background-color: rgb(72, 71, 71);
    border: rgb(21, 21, 21);

}
.card-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card-content .icon{
    background: #f6f6f6;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 7px;
}
.p-content {
    font-size: 14px;
    font-weight: 500;
    padding-left: 20px;
    text-wrap: nowrap;

}
.res-card{
    background: #fff;
    border-radius: 10px !important;
}
@media only screen and (max-width: 700px){
.res-col{
    max-width: 100% !important;
}
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0px;
    max-width: 1200px;
  }
  
  .flex-item {
    flex: 0 0 20%; /* Do not grow, do not shrink, start at 20% of the parent container */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    padding: 10px; /* Adjust as needed */
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .flex-item {
      flex: 0 0 50%; /* Adjust to 2 columns on smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .flex-item {
      flex: 0 0 100%; /* Stack vertically on very small screens */
    }
  }

  
  .search-box {
    position: relative;
    width: 100%; /* Or any other width */
}

.search-input {
    width: 100%;
    padding: 10px 40px 10px 20px; /* Adjust padding as needed */
    border: 1px solid #ccc;
    border-radius: 25px; /* Rounded borders */
    font-size: 16px; /* Adjust font size as needed */
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc; /* Icon color */
    pointer-events: none; /* Makes the icon non-interactive */
}
.print-btn{
    width: 10%;
}
@media only screen and  (max-width: 1400px) {
.print-btn{
    opacity: 1 !important;
    width: 100%;
}
.res-print-btn{
    opacity: 0;
    display: none;
}
}


.res-table{
    border-radius: 10%;
    border: 2px solid #f2f2f2;
}
.table-responsive{
  overflow-x: auto;

}
/* .res-table::-webkit-scrollbar{
    height: 3px;
    border-radius: 10px !important;
    box-shadow: inset 0 0 5px grey;

      display: none;
  }
  /* This styles the scrollbar track *
  .res-table::-webkit-scrollbar-track {
    background: #f1f1f1;
    box-shadow: inset 0 0 5px grey;
  border-radius: 10px !important;
  max-width: 20%;
  }
   /* This styles the scrollbar thumb (the part that you drag) *
   .res-table::-webkit-scrollbar-thumb {
    background: orange;
    height:10px !important;
    width:3px !important;
    border-radius: 10px;
    max-width: 20%;
  }

  /* This styles the scrollbar thumb on hover *
  .res-table::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 123, 0);
  } */
  .res-table th{
    color: #000000 !important;
  }


  /* This part changes the scrollbar container */
  .table-responsive::-webkit-scrollbar {
    width: 20%; /* Adjust the width of the scrollbar */
    height: 4px;
  }
  
  /* This part changes the background of the scrollbar track */
  .table-responsive::-webkit-scrollbar-track {
    background: #f1f1f1; /* Change to your preferred track color */
  }
  
  /* This part changes the scrollbar handle */
  .table-responsive::-webkit-scrollbar-thumb {
    background: #f4c60d; /* Change to your preferred thumb color */
  }
  
  /* Handle on hover */
  .table-responsive::-webkit-scrollbar-thumb:hover {
    background: #e8dd0d; /* Change to your preferred hover effect color */
  }
  
  /* form style*/

  p.star {
    position: absolute;
    color: #000000;
    /*right: 10px; /* Adjust based on the padding inside your input field */
    left: 15px;
    top: 10px;
    margin: 0;
    pointer-events: none; /* Makes the asterisk non-interactive */
    font-size: 14px;
    transition: all 0.2s ease-in-out;
}
p.star:hover{
    opacity: 0.5;
} 

.applynowemail.contactemail {
    position: relative;
    display: inline-block; /* Ensures the container fits the input width */
}

.applynowemail.contactemail input {
    padding-right: 20px; /* Ensure there's space for the asterisk */
}

    
  .form-control::after{
         content: '*';
         color: red;
         font-size: 24px;
  }

  /* Hide the default checkbox */
.custom-checkbox input[type="checkbox"] {
    visibility: hidden;
    position: absolute;
  }
  
  /* Create a custom checkbox appearance */
  .custom-checkbox .checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
  }
  
  /* On mouse-over, add a slightly darker grey background */
  .custom-checkbox:hover input ~ .checkmark {
    background-color: #fdee4f;
  }
  
  /* When the checkbox is checked, change the background color and add a checkmark */
  .custom-checkbox input:checked ~ .checkmark {
    background-color: #e0c605;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .custom-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .custom-checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .custom-checkbox .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
  

  /* flex items*/
  .dashbox-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Creates five columns of equal width */
    gap: 0px; /* Sets the gap between the grid items */
    align-items: center;
    background: #f2f2f2; 
    /* width: 100%; */
     padding: 15px ;
     border-radius: 5px;
     border: 1px solid gainsboro;
     overflow: hidden;
  }
  .dashbox-item{
    width: 200px;
    padding: 15px 0px;
    border-radius: 6px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  .dash-icon{
    width: 40px;
    height: 40px;
    background-color: #f2f2f2;
    border-radius: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-right: 15px;
  }
  .dashitem-content{
    text-align: center;
    display: inline;
  }
  .dashitem-content p{
    font-size: 14px;
    font-weight: 500;
  }
  .dashitem-content span{
    font-size: 18px;
  }

  /* Optional: For very large screens (min-width: 1500px), use 5 columns */
@media screen and (min-width: 1200px) {
  .dashbox-container {
      grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width:900px) and (max-width: 1199px) {
  .dashbox-container {
      grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width:700px) and (max-width: 899px) {
  .dashbox-container {
      grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width:460px) and (max-width: 699px) {
  .dashbox-container {
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
  }
  .dashbox-item{
    width: 100%;

  }
}
@media screen and (max-width: 460px) {
  .dashbox-container {
      grid-template-columns: repeat(1, 1fr);
      justify-content: center; /* Center grid items when there is extra space */
      align-content: center; /* Center grid items vertically when there is extra space */
      padding-right: 30px;
  }
  .dashbox-item{
    width: 100%;

  }
  
}